<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.demon.hello">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PhotoBgAct"></activity>
        <activity android:name=".activity.NewMsgAct" />
        <activity android:name=".activity.BlackListAct" />
        <activity
            android:name=".activity.MyphotoAct"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.MenuAct" />
        <activity android:name=".activity.AboutAct" />
        <activity android:name=".activity.PrivacyAct" />
        <activity android:name=".activity.CPasswrodAct" />
        <activity android:name=".activity.SettingAct" />
        <activity android:name=".activity.ChangeNameAct" />
        <activity android:name=".activity.PersonalAct" />
        <activity android:name=".activity.StartPageAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activity.LoginAct"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.RetPasswordAct"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.RegisterAct"
            android:launchMode="singleInstance" />
    </application>

</manifest>